import { {{pascalCase name}}Props } from './types'
import { use{{pascalCase name}} } from './use{{pascalCase name}}'

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  const {} = use{{pascalCase name}}()

  return (
    <div>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}
